
.Dash{
    background: linear-gradient(123.9deg, #1D007E 3.71%, #EBE4FF 70.1%);
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}
#LeftSide{
    background: #000055;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000055;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
